.btn-info {
    background-color: #026e47;
    color: white;
    border-color: #026e47;    
}

.btn-info:hover{
    background-color: #0d2a2c;
    color: white;
    border-color: #0d2a2c; 
}

.btn-danger button{
    background-color: #dc3545;
}

.main-title{
    color:#026e47;
    font-size: xx-large;
}
  
body {
   color: #026e47;
   background-color: #EDDCC4;
}

.navbar{
    width: 200px;
    height: 1200px;
}

.nav-item{
    padding-top: 2em;
    
}

.nav-link{
    color: #026e47;
    font-size: large;
    font-weight: bold;
}

.nav-link:hover{
    color: #0d2a2c
}

.btn-primary{
    margin-bottom: 0.4em;
}

.table{
    background-color: white;
}

.icon-menu{
    padding-right: 0.5em;
    font-size: x-large;
}

.badge{
    color: black;
    background-color: #026e47;
    font-size: 20px;
}

.category{
    border: #EDDCC4 solid 2px;
    margin: 20px;
    width: 220px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.category-picture{
    color: #026e47;
    font-size: 100px;
}

.card-title{
    color: #026e47;
    font-size: 25px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}