{% extends 'base.html.twig' %}

{% block title %}Ajout tranche salaire{% endblock %}

{% block body %}
<div class="container">
    <h1>Ajout d'une tranche de salaire</h1>

    {{ include('salary/_form.html.twig') }}

    <a href="{{ path('back_salary_index') }}" class="btn btn-primary btn-sm">Retour à la liste</a>
</div>
{% endblock %}
