{% extends 'base.html.twig' %}

{% block title %}Ajout type contrat{% endblock %}

{% block body %}
<div class="container">
    <h1>Ajout d'un type de contrat</h1>

    {{ include('contract/_form.html.twig') }}

    <a href="{{ path('back_contract_index') }}" class="btn btn-primary btn-sm">Retour à la liste</a>
</div>
{% endblock %}
